.home{
  padding: 30px 0 0;

  &__top{
    display: flex;
    column-gap: 200px;
    margin-bottom: 40px;
    align-items: center;
  }
  &__list{
    display: flex;
    column-gap: 50px;
    align-items: center;
  }
  &__label{
    display: flex;
    column-gap: 20px;
    align-items: center;
  }
  &__item{
    cursor: pointer;
    &:hover{
      color: goldenrod;
    }
    &_active{
      color: goldenrod;
    }
  }
  &__form{
    display: flex;
    column-gap: 20px;
  }
  &__date{
    height: 40px;
    padding: 0 10px 0 20px;
  }
  &__btn{
    height: 40px;
    padding: 0 20px;
  }

  &__img{
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  &__title{
    text-align: center;
    margin-bottom: 12px;
  }

}